In [20]:
import pandas as pd
import numpy as np
from random import shuffle
import os
import scipy
import sqlite3
from collections import defaultdict

In [2]:
curr_path = os.path.realpath('')
print(curr_path)
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
cur = conn.cursor()
cur.execute("select * from loan limit 5;")
results = cur.fetchall()
# print(results)
cur.close()
conn.close()

C:\Users\andre\Documents\GitHub\loan_driving2

In [3]:
conn = sqlite3.connect("lending-club-loan-data/database.sqlite")
df = pd.read_sql_query("select loan_amnt,id,loan_status,sub_grade from loan where loan_status = 'Charged Off';", conn)
print(df)
conn.close()

       loan_amnt        id  loan_status sub_grade
0         2500.0   1077430  Charged Off        C4
1         5600.0   1071795  Charged Off        F2
2         5375.0   1071570  Charged Off        B5
3         9000.0   1064687  Charged Off        C1
4        10000.0   1069057  Charged Off        B2
5        21000.0   1039153  Charged Off        B4
6         6000.0   1069559  Charged Off        B3
7        15000.0   1069800  Charged Off        C2
8         5000.0   1069657  Charged Off        D2
9         5000.0   1069465  Charged Off        A5
10       15000.0   1069248  Charged Off        B1
11       12000.0   1069243  Charged Off        C5
12       21000.0   1069410  Charged Off        E4
13       10000.0   1069126  Charged Off        B2
14       12500.0   1069093  Charged Off        D3
15        8200.0   1068906  Charged Off        F2
16        6400.0   1060981  Charged Off        D2
17       17500.0   1068542  Charged Off        D3
18        6200.0   1068509  Charged Off        B1
19       18825.0   1068309  Charged Off        D2
20       10000.0   1068012  Charged Off        D5
21       25000.0   1068202  Charged Off        C1
22       19750.0   1068006  Charged Off        B2
23       28000.0   1068179  Charged Off        E4
24       24000.0   1066215  Charged Off        C5
25       11100.0   1068111  Charged Off        A2
26       12000.0   1068091  Charged Off        B1
27       10000.0   1067794  Charged Off        B3
28       13475.0   1068018  Charged Off        C1
29        5600.0   1067818  Charged Off        C3
...          ...       ...          ...       ...
45218     8600.0  37297959  Charged Off        D5
45219     9850.0  37761743  Charged Off        D4
45220    18000.0  37741722  Charged Off        B2
45221    18000.0  37631640  Charged Off        F2
45222    14000.0  37831593  Charged Off        B5
45223    14000.0  37811630  Charged Off        E3
45224    20000.0  37641535  Charged Off        G2
45225    20000.0  37651039  Charged Off        C4
45226     7900.0  37701433  Charged Off        C2
45227    33025.0  37601530  Charged Off        E5
45228     8000.0  37611321  Charged Off        B2
45229     5750.0  37841213  Charged Off        C4
45230    18000.0  37731131  Charged Off        A3
45231    10000.0  37711157  Charged Off        D1
45232    12000.0  37661094  Charged Off        D4
45233    20000.0  37680848  Charged Off        C2
45234    35000.0  37720840  Charged Off        C3
45235     8400.0  37740718  Charged Off        B4
45236    13500.0  37329237  Charged Off        B3
45237    24875.0  37670482  Charged Off        G2
45238    11200.0  37640409  Charged Off        E3
45239     7200.0  37068125  Charged Off        C5
45240    20000.0  37297854  Charged Off        C5
45241    29675.0  37247819  Charged Off        C3
45242    35000.0  37167534  Charged Off        F4
45243    12000.0  37087435  Charged Off        D5
45244     2725.0  37227443  Charged Off        D5
45245    14000.0  37077186  Charged Off        D2
45246     4200.0  36743377  Charged Off        D2
45247    10850.0  36260758  Charged Off        E2

[45248 rows x 4 columns]

In [6]:
ddict = df.to_dict()
print(ddict['loan_amnt'][7])
ddict['sub_grade'][7]
g = zip(ddict['loan_amnt'].values(),ddict['sub_grade'].values(),ddict['id'].values(),ddict['loan_status'].values())
print(len(list(g)))

15000.0
45248

In [7]:
# create a training set
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
df = pd.read_sql_query("select loan_amnt,id,loan_status,sub_grade from loan where loan_status !='Current' AND loan_status !='Late (31-120 days)' AND loan_status != 'Late (16-30 days)';", conn)
# print(df.axes)
# print(df.get_values()[0][1])
# print(df.get_values())
# print(df.values[3])
print(df.values[0])

conn.close()
# feature vector - predictor will predict ("charged off/default status") vs. 
# [1(maybe check this),'sub_grade','loan_amnt','emp_length','home_ownership','annual_inc','verification_status','dti'(debt-to-income),'']

[5000.0 '1077501' 'Fully Paid' 'B2']

In [8]:
# find all unique values for the loan status column
l_status_dict = defaultdict(int)
for row in df.itertuples():
    # print(row[3])
    if row[3] not in l_status_dict:
        l_status_dict[row[3]] += 1

# print(l_status_dict.keys())

In [9]:
print(l_status_dict.keys())

dict_keys(['Fully Paid', 'Charged Off', 'Default', 'In Grace Period', 'Does not meet the credit policy. Status:Fully Paid', 'Does not meet the credit policy. Status:Charged Off', 'Issued'])

In [10]:
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
# very important, select a random sample of the data for our training set & validation sets 
df = pd.read_sql_query("select * from loan where id in(select id from loan order by random() limit 200000);", conn)
# df_validation = pd.read_sql_query("select * from loan where id in(selec id from loan order by random() limit 100000);", conn)

In [27]:
# split the data sets into training and validation
#for row in df.itertuples():
#   print(row[1])
# shuffle that dataframe
df = df.sample(frac=1).reset_index(drop=True)
data_train = df[:len(df)]
data_validation = df[len(df):]

In [28]:
#$ df.sum(1)
# print(df['loan_amnt'].sum(0))
#print(df['total_pymnt'].sum(0))
#print(df.shape)
display(data_train)

,index,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,94713,4767934,6030335.0,5450.0,5450.0,5450.000000,36 months,10.16%,176.27,B,...,NaN,NaN,NaN,NaN,NaN,NaN,43100.0,NaN,NaN,NaN
1,66710,28574268,31097476.0,35000.0,35000.0,35000.000000,36 months,16.99%,1247.68,D,...,NaN,NaN,NaN,NaN,NaN,NaN,76900.0,NaN,NaN,NaN
2,127327,20158922,22421593.0,13200.0,13200.0,13200.000000,60 months,14.99%,313.96,C,...,NaN,NaN,NaN,NaN,NaN,NaN,61000.0,NaN,NaN,NaN
3,154943,16361852,18464342.0,13000.0,13000.0,13000.000000,36 months,11.67%,429.74,B,...,NaN,NaN,NaN,NaN,NaN,NaN,24900.0,NaN,NaN,NaN
4,249047,51326801,54736527.0,9000.0,9000.0,9000.000000,36 months,6.89%,277.45,A,...,NaN,NaN,NaN,NaN,NaN,NaN,51300.0,NaN,NaN,NaN
5,409827,38484793,41278542.0,12000.0,12000.0,12000.000000,60 months,10.49%,257.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,40900.0,NaN,NaN,NaN
6,43629,65837053,70469869.0,12000.0,12000.0,12000.000000,36 months,13.67%,408.22,C,...,NaN,NaN,NaN,NaN,NaN,NaN,30800.0,NaN,NaN,NaN
7,258144,51147562,54557336.0,11000.0,11000.0,11000.000000,36 months,5.32%,331.27,A,...,NaN,NaN,NaN,NaN,NaN,NaN,125600.0,NaN,NaN,NaN
8,174195,1283671,1527266.0,10000.0,10000.0,10000.000000,36 months,13.67%,340.18,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,80356,63160376,67502254.0,10000.0,10000.0,10000.000000,36 months,18.55%,364.29,E,...,NaN,NaN,NaN,NaN,NaN,NaN,3700.0,NaN,NaN,NaN
10,31155,33451481,36094763.0,5000.0,5000.0,5000.000000,36 months,7.49%,155.51,A,...,NaN,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN
11,283947,48585704,51834467.0,10000.0,10000.0,10000.000000,60 months,19.52%,262.28,E,...,NaN,NaN,NaN,NaN,NaN,NaN,26400.0,NaN,NaN,NaN
12,191116,56502923,60184673.0,25000.0,25000.0,25000.000000,60 months,18.25%,638.25,E,...,NaN,NaN,NaN,NaN,NaN,NaN,40900.0,NaN,NaN,NaN
13,212340,55191094,58761904.0,12000.0,12000.0,12000.000000,60 months,13.99%,279.16,C,...,NaN,NaN,NaN,NaN,NaN,NaN,55000.0,NaN,NaN,NaN
14,146286,17012619,19145159.0,12000.0,12000.0,12000.000000,60 months,15.61%,289.34,D,...,NaN,NaN,NaN,NaN,NaN,NaN,27600.0,NaN,NaN,NaN
15,309147,46752413,49900135.0,13700.0,13700.0,13700.000000,60 months,16.55%,337.18,D,...,NaN,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN
16,2088,10146496,11998511.0,6350.0,6350.0,6350.000000,36 months,18.25%,230.37,D,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
17,311837,46587524,49725291.0,6000.0,6000.0,6000.000000,36 months,9.17%,191.28,B,...,NaN,NaN,NaN,NaN,NaN,NaN,47500.0,NaN,NaN,NaN
18,89740,25246001,27698959.0,11200.0,11200.0,11200.000000,60 months,12.49%,251.92,B,...,NaN,NaN,NaN,NaN,NaN,NaN,53600.0,NaN,NaN,NaN
19,32030,66561332,71287070.0,5000.0,5000.0,5000.000000,36 months,13.18%,168.91,C,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
20,166265,58632859,62473595.0,16000.0,16000.0,16000.000000,36 months,5.32%,481.84,A,...,NaN,NaN,NaN,NaN,NaN,NaN,158200.0,NaN,NaN,NaN
21,54752,30115685,32658899.0,35000.0,35000.0,35000.000000,36 months,9.17%,1115.77,B,...,NaN,NaN,NaN,NaN,NaN,NaN,386500.0,NaN,NaN,NaN
22,14289,768638,969962.0,6400.0,6400.0,6400.000000,36 months,17.49%,229.75,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,143965,60246186,64222937.0,5000.0,5000.0,5000.000000,36 months,7.26%,154.99,A,...,NaN,NaN,NaN,NaN,NaN,NaN,42500.0,NaN,NaN,NaN
24,168797,13048276,15080451.0,11000.0,11000.0,11000.000000,36 months,14.64%,379.39,C,...,NaN,NaN,NaN,NaN,NaN,NaN,14400.0,NaN,NaN,NaN
25,164012,1412227,1661887.0,11325.0,11325.0,11325.000000,36 months,17.77%,408.13,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,73906,27532256,30035430.0,9000.0,9000.0,8950.000000,36 months,9.17%,286.92,B,...,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN
27,131782,3007297,3639752.0,4000.0,4000.0,4000.000000,36 months,12.12%,133.09,B,...,NaN,NaN,NaN,NaN,NaN,NaN,26800.0,NaN,NaN,NaN
28,181539,57196821,60899620.0,23000.0,23000.0,23000.000000,36 months,6.89%,709.02,A,...,NaN,NaN,NaN,NaN,NaN,NaN,24000.0,NaN,NaN,NaN
29,249712,51997491,55427258.0,3600.0,3600.0,3600.000000,36 months,11.53%,118.77,B,...,NaN,NaN,NaN,NaN,NaN,NaN,13500.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,89889,63436106,67778870.0,9000.0,9000.0,9000.000000,36 months,13.99%,307.56,C,...,NaN,NaN,NaN,NaN,NaN,NaN,14000.0,NaN,NaN,NaN
199971,24235,602345,772873.0,20000.0,20000.0,17296.059805,60 months,8.88%,414.01,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199972,7360,67810737,72669541.0,35000.0,35000.0,35000.000000,36 months,10.64%,1139.90,B,...,2787.0,13.9,0.0,1.0,18061.0,58.0,103800.0,0.0,0.0,1.0
199973,248781,51880521,55310356.0,14400.0,14400.0,14400.000000,60 months,16.55%,354.41,D,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
199974,51599,7077614,8739741.0,15000.0,15000.0,15000.000000,60 months,15.88%,363.82,C,...,NaN,NaN,NaN,NaN,NaN,NaN,8300.0,NaN,NaN,NaN
199975,71148,64250428,68720144.0,18950.0,18950.0,18950.000000,60 months,24.99%,556.10,F,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
199976,181866,1173124,1414626.0,16800.0,16800.0,16800.000000,36 months,6.62%,515.83,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199977,291787,48011903,51251701.0,15000.0,15000.0,15000.000000,60 months,13.33%,343.84,C,...,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN
199978,124189,3150422,3862968.0,12500.0,12500.0,12500.000000,36 months,12.12%,415.90,B,...,NaN,NaN,NaN,NaN,NaN,NaN,19700.0,NaN,NaN,NaN
199979,291583,48150862,51390600.0,35000.0,35000.0,35000.000000,60 months,9.99%,743.48,B,...,NaN,NaN,NaN,NaN,NaN,NaN,77400.0,NaN,NaN,NaN
199980,54467,65681942,70314667.0,35000.0,35000.0,34950.000000,60 months,22.99%,986.47,F,...,NaN,NaN,NaN,NaN,NaN,NaN,23700.0,NaN,NaN,NaN
199981,168964,58450898,62270253.0,6000.0,6000.0,6000.000000,36 months,16.55%,212.58,D,...,NaN,NaN,NaN,NaN,NaN,NaN,5800.0,NaN,NaN,NaN
199982,147898,59679411,63623134.0,15000.0,15000.0,15000.000000,36 months,7.89%,469.29,A,...,NaN,NaN,NaN,NaN,NaN,NaN,28400.0,NaN,NaN,NaN
199983,37569,379559,406133.0,6000.0,6000.0,5116.718012,36 months,7.68%,187.15,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199984,7397,9794603,11646753.0,18000.0,18000.0,18000.000000,60 months,15.61%,434.01,C,...,NaN,NaN,NaN,NaN,NaN,NaN,4200.0,NaN,NaN,NaN
199985,102713,4524785,5786958.0,1000.0,1000.0,1000.000000,36 months,19.05%,36.69,D,...,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN
199986,180501,1180365,1421704.0,7000.0,7000.0,6975.000000,36 months,8.90%,222.28,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199987,103552,61464907,65583825.0,20000.0,20000.0,20000.000000,60 months,10.99%,434.75,B,...,NaN,NaN,NaN,NaN,NaN,NaN,88300.0,NaN,NaN,NaN
199988,30883,33311053,35954326.0,18600.0,18600.0,18600.000000,36 months,11.44%,612.83,B,...,NaN,NaN,NaN,NaN,NaN,NaN,62334.0,NaN,NaN,NaN
199989,3797,36450807,39172482.0,23000.0,23000.0,23000.000000,36 months,6.99%,710.07,A,...,NaN,NaN,NaN,NaN,NaN,NaN,37900.0,NaN,NaN,NaN
199990,126672,60904061,64945902.0,8000.0,8000.0,8000.000000,36 months,13.99%,273.39,C,...,NaN,NaN,NaN,NaN,NaN,NaN,9000.0,NaN,NaN,NaN
199991,21807,34722990,37416264.0,33950.0,33950.0,33950.000000,60 months,19.24%,885.18,E,...,NaN,NaN,NaN,NaN,NaN,NaN,32600.0,NaN,NaN,NaN
199992,166665,57803631,61556390.0,20000.0,20000.0,20000.000000,36 months,8.18%,628.39,B,...,NaN,NaN,NaN,NaN,NaN,NaN,26600.0,NaN,NaN,NaN
199993,154675,1542531,1808224.0,6900.0,6900.0,6900.000000,36 months,12.12%,229.58,B,...,NaN,NaN,NaN,NaN,NaN,NaN,27400.0,NaN,NaN,NaN
199994,25745,8545001,10297152.0,4000.0,4000.0,4000.000000,36 months,15.10%,138.86,C,...,NaN,NaN,NaN,NaN,NaN,NaN,14700.0,NaN,NaN,NaN
199995,67658,64771517,69272241.0,10000.0,10000.0,10000.000000,60 months,17.86%,253.18,D,...,NaN,NaN,NaN,NaN,NaN,NaN,10100.0,NaN,NaN,NaN
199996,329424,44723547,47791276.0,16000.0,16000.0,16000.000000,60 months,18.25%,408.48,E,...,NaN,NaN,NaN,NaN,NaN,NaN,33000.0,NaN,NaN,NaN
199997,413349,38414608,41198390.0,12000.0,12000.0,12000.000000,36 months,16.49%,424.80,D,...,NaN,NaN,NaN,NaN,NaN,NaN,23200.0,NaN,NaN,NaN
199998,163367,1441848,1694099.0,8000.0,8000.0,8000.000000,36 months,6.62%,245.63,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,126414,20079965,22342528.0,18000.0,18000.0,18000.000000,36 months,10.99%,589.22,B,...,NaN,NaN,NaN,NaN,NaN,NaN,17300.0,NaN,NaN,NaN

In [ ]:
# need to build my feature vecotr
# X_train = f['sub_grade','loan_amnt']
# need y predictions combine(charged off/default(True(1)) or fully paid(False(0)))
# y_train =[]
def feature(data):
    feat = []
    # create our simplistic featur vector