In [1]:
import pandas as pd
import numpy as np
from random import shuffle
from sklearn import svm
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import os
import scipy
import sqlite3
from collections import defaultdict

In [3]:
curr_path = os.path.realpath('')
print(curr_path)
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
cur = conn.cursor()
cur.execute("select * from loan limit 5;")
results = cur.fetchall()
# print(results)
cur.close()
conn.close()

/Users/jesseren/Development/loan_driving2

In [4]:
conn = sqlite3.connect("lending-club-loan-data/database.sqlite")
df = pd.read_sql_query("select loan_amnt,id,loan_status,sub_grade from loan where loan_status = 'Charged Off';", conn)
# print(df)
conn.close()

In [5]:
ddict = df.to_dict()
# print(ddict['loan_amnt'][7])
ddict['sub_grade'][7]
g = zip(ddict['loan_amnt'].values(),ddict['sub_grade'].values(),ddict['id'].values(),ddict['loan_status'].values())
# print(len(list(g)))

In [8]:
# create a training set
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
df = pd.read_sql_query("select loan_amnt,id,loan_status,sub_grade,home_ownership,annual_inc from loan where loan_status !='Current' AND loan_status !='Late (31-120 days)' AND loan_status != 'Late (16-30 days)';", conn)
# print(df.axes)
# print(df.get_values()[0][1])
# print(df.get_values())
# print(df.values[3])
# print(df.values[0])

conn.close()
print("Connection Closed")
# feature vector - predictor will predict ("charged off/default status") vs. 
# [1(maybe check this),'sub_grade','loan_amnt','emp_length','home_ownership','annual_inc','verification_status','dti'(debt-to-income),'']

Connection Closed

In [9]:
df

,loan_amnt,id,loan_status,sub_grade,home_ownership,annual_inc
0,5000.0,1077501,Fully Paid,B2,RENT,24000.00
1,2500.0,1077430,Charged Off,C4,RENT,30000.00
2,2400.0,1077175,Fully Paid,C5,RENT,12252.00
3,10000.0,1076863,Fully Paid,C1,RENT,49200.00
4,5000.0,1075269,Fully Paid,A4,RENT,36000.00
5,3000.0,1072053,Fully Paid,E1,RENT,48000.00
6,5600.0,1071795,Charged Off,F2,OWN,40000.00
7,5375.0,1071570,Charged Off,B5,RENT,15000.00
8,6500.0,1070078,Fully Paid,C3,OWN,72000.00
9,12000.0,1069908,Fully Paid,B5,OWN,75000.00
10,9000.0,1064687,Charged Off,C1,RENT,30000.00
11,3000.0,1069866,Fully Paid,B1,RENT,15000.00
12,10000.0,1069057,Charged Off,B2,RENT,100000.00
13,1000.0,1069759,Fully Paid,D1,RENT,28000.00
14,10000.0,1065775,Fully Paid,C4,RENT,42000.00
15,3600.0,1069971,Fully Paid,A1,MORTGAGE,110000.00
16,6000.0,1062474,Fully Paid,B3,MORTGAGE,84000.00
17,9200.0,1069742,Fully Paid,A1,RENT,77385.19
18,20250.0,1069740,Fully Paid,C4,RENT,43370.00
19,21000.0,1039153,Charged Off,B4,RENT,105000.00
20,10000.0,1069710,Fully Paid,B3,OWN,50000.00
21,10000.0,1069700,Fully Paid,B3,RENT,50000.00
22,6000.0,1069559,Charged Off,B3,RENT,76000.00
23,15000.0,1069697,Fully Paid,B1,MORTGAGE,92000.00
24,15000.0,1069800,Charged Off,C2,RENT,60000.00
25,5000.0,1069657,Charged Off,D2,RENT,50004.00
26,4000.0,1069799,Fully Paid,B3,MORTGAGE,106000.00
27,8500.0,1047704,Fully Paid,B3,RENT,25000.00
28,4375.0,1032111,Fully Paid,A3,MORTGAGE,17108.00
29,31825.0,1069539,Fully Paid,A4,MORTGAGE,75000.00
...,...,...,...,...,...,...
271623,24875.0,37670482,Charged Off,G2,RENT,75000.00
271624,26500.0,37810537,Fully Paid,F2,MORTGAGE,170000.00
271625,24000.0,37197690,Fully Paid,D2,MORTGAGE,82900.00
271626,15000.0,37700380,Fully Paid,C1,MORTGAGE,45000.00
271627,20000.0,37650375,Fully Paid,C5,OWN,80000.00
271628,12000.0,37740411,In Grace Period,B3,MORTGAGE,40000.00
271629,11200.0,37640409,Charged Off,E3,RENT,80000.00
271630,20000.0,37650403,Fully Paid,C4,MORTGAGE,262000.00
271631,30000.0,37790415,Fully Paid,C5,MORTGAGE,84000.00
271632,12000.0,36118265,Fully Paid,B5,RENT,65000.00
271633,12825.0,36400285,Fully Paid,D4,MORTGAGE,38000.00
271634,27650.0,37357154,Fully Paid,E5,RENT,60000.00
271635,7200.0,37068125,Charged Off,C5,MORTGAGE,74000.00
271636,25000.0,37317965,Fully Paid,C1,MORTGAGE,252000.00
271637,20000.0,36801355,Fully Paid,C2,MORTGAGE,76584.00
271638,20000.0,37297854,Charged Off,C5,MORTGAGE,100000.00
271639,29675.0,37247819,Charged Off,C3,OWN,62000.00
271640,5875.0,37127712,Fully Paid,D3,OWN,35000.00
271641,35000.0,37167534,Charged Off,F4,MORTGAGE,98000.00
271642,12000.0,37087435,Charged Off,D5,RENT,42000.00
271643,2725.0,37227443,Charged Off,D5,MORTGAGE,47784.00
271644,14000.0,37077186,Charged Off,D2,MORTGAGE,69000.00
271645,15000.0,37187152,Fully Paid,C1,MORTGAGE,75000.00
271646,6000.0,36808246,Fully Paid,B3,RENT,42000.00
271647,17000.0,37041208,Fully Paid,D2,MORTGAGE,63078.00
271648,4200.0,36743377,Charged Off,D2,MORTGAGE,48000.00
271649,10775.0,36231718,Fully Paid,A1,RENT,54000.00
271650,6225.0,36241316,Fully Paid,D3,RENT,27000.00
271651,4000.0,36421485,Fully Paid,B1,MORTGAGE,50000.00
271652,10850.0,36260758,Charged Off,E2,OWN,32000.00

In [7]:
# find all unique values for the loan status column
l_status_dict = defaultdict(int)
for row in df.itertuples():
    # print(row[3])
    if row[3] not in l_status_dict:
        l_status_dict[row[3]] += 1

# print(l_status_dict.keys())

In [8]:
print(l_status_dict.keys())

dict_keys(['Fully Paid', 'Charged Off', 'Default', 'In Grace Period', 'Does not meet the credit policy. Status:Fully Paid', 'Does not meet the credit policy. Status:Charged Off', 'Issued'])

In [9]:
curr_path = os.path.realpath('')
conn = sqlite3.connect(curr_path+"/lending-club-loan-data/database.sqlite")
# very important, select a random sample of the data for our training set & validation sets 
# 
df = pd.read_sql_query("select * from loan where id in(select id from loan order by random() limit 200000);", conn)
df_default = pd.read_sql_query( "select * from loan where loan_status='Charged Off' OR loan_status='Default' OR loan_status='Late (31-120 days)' OR loan_status='Late (16-30 days)' OR loan_status='Does not meet the credit policy. Status:Charged Off' AND id in(select id from loan order by random());", conn)
df_fully_paid = pd.read_sql_query("select * from loan where loan_status='Issued' OR loan_status='Fully Paid' OR loan_status='In Grace Period' OR loan_status='Does not meet the credit policy. Status:Fully Paid' AND id in(select id from loan order by random());" , conn)
# df_default = pd.read_sql_query("select",conn)
conn.close()
# df = pd.read_sql_query("select * from loan where id in(select id from loan order by random() limit 200000);", conn)
# df_validation = pd.read_sql_query("select * from loan where id in(selec id from loan order by random() limit 100000);", conn)
# print(df)

In [11]:
# split the data sets into training and validation
#for row in df.itertuples():
#   print(row[1])
# shuffle that dataframe frac = 1 means return all elements sshuffled not a preportion
# grab a 50,000 test set
df_test = df.sample(frac=(1/float(4))).reset_index(drop=True)
# write the 50,000 test set to a csv file
df_test.to_csv('X_test_set.csv')
# print(df)
# grab a random set of 25,000 "default" examples
df_default_pick = df_default.sample(frac=(50000/(float(len(df_default))))).reset_index(drop=True)
# grab a random set of 25,000 "fully paid" examples
df_fully_paid_pick = df_fully_paid.sample(frac=(50000/(float(len(df_fully_paid))))).reset_index(drop=True)

# data_train = df.iloc[:int(len(df)/2), :]
df_def_1 = df_default_pick.iloc[:int(len(df_default_pick)/2), :]
df_def_2 = df_default_pick.iloc[int(len(df_default_pick)/2):, :]
df_fp_1 = df_fully_paid_pick.iloc[:int(len(df_fully_paid_pick)/2), :]
df_fp_2 = df_fully_paid_pick.iloc[int(len(df_fully_paid_pick)/2):, :]
# append the training sets together first 25,000 defaults, next 25,000 non-defaults
data_train = df_def_1.append(df_fp_1)
data_validation = df_def_2.append(df_fp_2)
# data_validation = df.iloc[int(len(df)/2):, :]
print(len(df_default))
print(len(df_fully_paid))
print(len(data_train))
print(data_train)

61176
224425
50000
        index        id   member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      111258   3914812   5006993.0    24000.0      24000.0          24000.0
1       38093    366248    378011.0     2450.0       2450.0           2425.0
2       22511   8640060  10411775.0     8000.0       8000.0           8000.0
3      146043   1690331   1972861.0     7200.0       7200.0           7200.0
4       24473   8636661  10408647.0     6000.0       6000.0           6000.0
5       60063   6717482   8319766.0    20500.0      20500.0          20500.0
6      136875  19196524  21399231.0    15000.0      15000.0          14950.0
7       41179   7615418   9297529.0    10200.0      10200.0          10200.0
8         132  10159240  12010878.0    16000.0      16000.0          16000.0
9       19727    671416    858334.0    24000.0      24000.0          23975.0
10     110747   3927646   5020767.0    28000.0      28000.0          27975.0
11     174948   1281829   1525003.0    22000.0      22000.0          22000.0
12      18892    687550    877571.0    12000.0      12000.0          12000.0
13      25470   8614670  10386811.0     3500.0       3500.0           3500.0
14     103462  23102753  25455696.0    16000.0      16000.0          16000.0
15      11238  36048711  38760278.0    12000.0      12000.0          12000.0
16      26465    570102    733407.0    13750.0      13750.0          13750.0
17      81124   5794473   7226212.0    20000.0      20000.0          19975.0
18      65352  29043548  31566726.0    28000.0      28000.0          27975.0
19      84308  24785167  27228158.0    15950.0      15950.0          15950.0
20      85178   5647480   7029765.0    34800.0      34800.0          34775.0
21     224620   9794773  11646905.0    10600.0      10600.0          10550.0
22     103374  23102797  25455729.0    16000.0      16000.0          16000.0
23      51630   7047787   8709876.0     9000.0       9000.0           9000.0
24       8888  36350210  39081535.0     9000.0       9000.0           9000.0
25     113551   3727748   4720268.0    11000.0      11000.0          11000.0
26     184638   1127806   1365970.0    10200.0      10200.0          10200.0
27      38203   7675512   9377621.0    35000.0      35000.0          35000.0
28      34935  33310525  35953772.0     8000.0       8000.0           8000.0
29       8697  35958295  38659830.0     8500.0       8500.0           8500.0
...       ...       ...         ...        ...          ...              ...
24970  127299  20128581  22391275.0    22000.0      22000.0          22000.0
24971  184348   1132031   1371011.0    16000.0      16000.0          16000.0
24972  135559  19207585  21410189.0     6200.0       6200.0           6200.0
24973  382872  40471384  43336146.0     6000.0       6000.0           6000.0
24974   13412   9234591  11066740.0    15000.0      15000.0          15000.0
24975   11541    813036   1020403.0    13100.0      13100.0          13075.0
24976   85591  22602552  24945495.0    30000.0      30000.0          30000.0
24977   41022   7438161   9100208.0    23300.0      23300.0          23300.0
24978  181427  57146719  60849540.0    15000.0      15000.0          15000.0
24979   53292   6966070   8608203.0    15000.0      15000.0          15000.0
24980    5365    987097   1211056.0     7000.0       7000.0           7000.0
24981  186254   1104107   1340483.0     6000.0       6000.0           6000.0
24982  103807   4375872   5608109.0    12000.0      12000.0          12000.0
24983    2453  68375200  73264975.0    18450.0      18450.0          18450.0
24984  213039  11708455  13680648.0    10000.0      10000.0          10000.0
24985   44215   7369515   9031502.0     4000.0       4000.0           4000.0
24986  140368   1865098   2167301.0     6000.0       6000.0           6000.0
24987  375821  40664720  43530462.0     9000.0       9000.0           9000.0
24988   53844   6994612   8636758.0     9000.0       9000.0           9000.0
24989   24117   8647312  10419236.0    13200.0      13200.0          13200.0
24990  103178  23212904  25565830.0    35000.0      35000.0          35000.0
24991  186461   1100923   1337542.0    18000.0      18000.0          17950.0
24992  167997   1388365   1634331.0     7000.0       7000.0           7000.0
24993  352890  42425010  45391809.0    35000.0      35000.0          35000.0
24994  147757  59202980  63090816.0    30000.0      30000.0          30000.0
24995  185468  13075955  15178159.0    15000.0      15000.0          15000.0
24996   14112   9000101  10791775.0    11675.0      11675.0          11675.0
24997  148845  17593676  19726195.0    12000.0      12000.0          12000.0
24998    8684  36220219  38931542.0     7000.0       7000.0           7000.0
24999   53847  30525463  33078629.0     6000.0       6000.0           6000.0

             term int_rate  installment grade     ...      total_bal_il  \
0       36 months   15.31%       835.62     C     ...              None
1       36 months   14.42%        84.24     D     ...              None
2       36 months   17.10%       285.63     C     ...              None
3       36 months   18.75%       263.02     D     ...              None
4       36 months   13.67%       204.11     B     ...              None
5       60 months   15.22%       490.07     C     ...              None
6       36 months   10.15%       485.07     B     ...              None
7       36 months   17.10%       364.17     C     ...              None
8       60 months   19.22%       416.99     D     ...              None
9       60 months   20.85%       647.26     G     ...              None
10      60 months   21.49%       765.24     E     ...              None
11      36 months    8.90%       698.58     A     ...              None
12      36 months   11.11%       393.50     B     ...              None
13      36 months   16.20%       123.40     C     ...              None
14      60 months   24.99%       469.53     F     ...              None
15      36 months   12.39%       400.82     C     ...              None
16      36 months   16.45%       486.47     E     ...              None
17      60 months   24.70%       583.52     G     ...              None
18      60 months   12.49%       629.80     B     ...              None
19      60 months   23.43%       453.59     F     ...              None
20      60 months   18.75%       897.96     D     ...              None
21      60 months   22.40%       295.18     E     ...              None
22      60 months   15.61%       385.79     D     ...              None
23      36 months   19.52%       332.28     D     ...              None
24      36 months   16.49%       318.60     D     ...              None
25      36 months   18.49%       400.39     D     ...              None
26      36 months   12.42%       340.84     B     ...              None
27      60 months   21.70%       960.71     E     ...              None
28      36 months    9.17%       255.04     B     ...              None
29      36 months    9.49%       272.25     B     ...              None
...           ...      ...          ...   ...     ...               ...
24970   36 months   11.67%       727.26     B     ...               NaN
24971   60 months   19.03%       415.32     E     ...               NaN
24972   36 months    7.69%       193.41     A     ...               NaN
24973   36 months    7.49%       186.61     A     ...               NaN
24974   60 months   16.20%       366.37     C     ...               NaN
24975   60 months   20.25%       348.90     F     ...               NaN
24976   36 months   13.35%      1015.89     C     ...               NaN
24977   36 months    8.60%       736.61     A     ...               NaN
24978   36 months    9.17%       478.19     B     ...               NaN
24979   60 months   16.78%       371.02     C     ...               NaN
24980   36 months    6.03%       213.05     A     ...               NaN
24981   36 months    7.90%       187.75     A     ...               NaN
24982   36 months   18.75%       438.36     D     ...               NaN
24983   36 months   11.99%       612.72     C     ...              9731
24984   36 months    9.67%       321.13     B     ...               NaN
24985   36 months   23.10%       155.05     E     ...               NaN
24986   36 months   15.80%       210.36     C     ...               NaN
24987   36 months   10.99%       294.61     B     ...               NaN
24988   36 months    9.71%       289.19     B     ...               NaN
24989   36 months   11.99%       438.37     B     ...               NaN
24990   60 months   16.29%       856.54     D     ...               NaN
24991   36 months    7.90%       563.23     A     ...               NaN
24992   36 months   12.12%       232.91     B     ...               NaN
24993   60 months   22.99%       986.47     F     ...               NaN
24994   36 months   15.61%      1048.95     D     ...               NaN
24995   36 months    7.62%       467.43     A     ...               NaN
24996   36 months   15.61%       408.22     C     ...               NaN
24997   36 months   12.99%       404.27     C     ...               NaN
24998   36 months    9.49%       224.20     B     ...               NaN
24999   36 months   11.67%       198.35     B     ...               NaN

      il_util open_rv_12m open_rv_24m  max_bal_bc all_util total_rev_hi_lim  \
0        None        None        None        None     None          29700.0
1        None        None        None        None     None              NaN
2        None        None        None        None     None          17500.0
3        None        None        None        None     None           5500.0
4        None        None        None        None     None          11400.0
5        None        None        None        None     None          47200.0
6        None        None        None        None     None          32000.0
7        None        None        None        None     None          21400.0
8        None        None        None        None     None          22600.0
9        None        None        None        None     None              NaN
10       None        None        None        None     None           5000.0
11       None        None        None        None     None              NaN
12       None        None        None        None     None              NaN
13       None        None        None        None     None          16900.0
14       None        None        None        None     None          34300.0
15       None        None        None        None     None           7000.0
16       None        None        None        None     None              NaN
17       None        None        None        None     None          43520.0
18       None        None        None        None     None          49500.0
19       None        None        None        None     None          39300.0
20       None        None        None        None     None          46100.0
21       None        None        None        None     None          26900.0
22       None        None        None        None     None          22500.0
23       None        None        None        None     None          18400.0
24       None        None        None        None     None          10800.0
25       None        None        None        None     None           6100.0
26       None        None        None        None     None              NaN
27       None        None        None        None     None          55400.0
28       None        None        None        None     None          22700.0
29       None        None        None        None     None           3500.0
...       ...         ...         ...         ...      ...              ...
24970     NaN         NaN         NaN         NaN      NaN          58300.0
24971     NaN         NaN         NaN         NaN      NaN              NaN
24972     NaN         NaN         NaN         NaN      NaN          16800.0
24973     NaN         NaN         NaN         NaN      NaN          68400.0
24974     NaN         NaN         NaN         NaN      NaN          12500.0
24975     NaN         NaN         NaN         NaN      NaN              NaN
24976     NaN         NaN         NaN         NaN      NaN          15900.0
24977     NaN         NaN         NaN         NaN      NaN          10200.0
24978     NaN         NaN         NaN         NaN      NaN          17800.0
24979     NaN         NaN         NaN         NaN      NaN          47758.0
24980     NaN         NaN         NaN         NaN      NaN              NaN
24981     NaN         NaN         NaN         NaN      NaN              NaN
24982     NaN         NaN         NaN         NaN      NaN          15800.0
24983      54           0           4        6911       72          29800.0
24984     NaN         NaN         NaN         NaN      NaN          88400.0
24985     NaN         NaN         NaN         NaN      NaN           3300.0
24986     NaN         NaN         NaN         NaN      NaN          25800.0
24987     NaN         NaN         NaN         NaN      NaN          36900.0
24988     NaN         NaN         NaN         NaN      NaN          42820.0
24989     NaN         NaN         NaN         NaN      NaN          11600.0
24990     NaN         NaN         NaN         NaN      NaN          54800.0
24991     NaN         NaN         NaN         NaN      NaN              NaN
24992     NaN         NaN         NaN         NaN      NaN              NaN
24993     NaN         NaN         NaN         NaN      NaN          45900.0
24994     NaN         NaN         NaN         NaN      NaN         140900.0
24995     NaN         NaN         NaN         NaN      NaN          73200.0
24996     NaN         NaN         NaN         NaN      NaN          16300.0
24997     NaN         NaN         NaN         NaN      NaN          18800.0
24998     NaN         NaN         NaN         NaN      NaN          23500.0
24999     NaN         NaN         NaN         NaN      NaN           8000.0

      inq_fi total_cu_tl inq_last_12m
0       None        None         None
1       None        None         None
2       None        None         None
3       None        None         None
4       None        None         None
5       None        None         None
6       None        None         None
7       None        None         None
8       None        None         None
9       None        None         None
10      None        None         None
11      None        None         None
12      None        None         None
13      None        None         None
14      None        None         None
15      None        None         None
16      None        None         None
17      None        None         None
18      None        None         None
19      None        None         None
20      None        None         None
21      None        None         None
22      None        None         None
23      None        None         None
24      None        None         None
25      None        None         None
26      None        None         None
27      None        None         None
28      None        None         None
29      None        None         None
...      ...         ...          ...
24970    NaN         NaN          NaN
24971    NaN         NaN          NaN
24972    NaN         NaN          NaN
24973    NaN         NaN          NaN
24974    NaN         NaN          NaN
24975    NaN         NaN          NaN
24976    NaN         NaN          NaN
24977    NaN         NaN          NaN
24978    NaN         NaN          NaN
24979    NaN         NaN          NaN
24980    NaN         NaN          NaN
24981    NaN         NaN          NaN
24982    NaN         NaN          NaN
24983      1           0            0
24984    NaN         NaN          NaN
24985    NaN         NaN          NaN
24986    NaN         NaN          NaN
24987    NaN         NaN          NaN
24988    NaN         NaN          NaN
24989    NaN         NaN          NaN
24990    NaN         NaN          NaN
24991    NaN         NaN          NaN
24992    NaN         NaN          NaN
24993    NaN         NaN          NaN
24994    NaN         NaN          NaN
24995    NaN         NaN          NaN
24996    NaN         NaN          NaN
24997    NaN         NaN          NaN
24998    NaN         NaN          NaN
24999    NaN         NaN          NaN

[50000 rows x 75 columns]

In [12]:
# set up 

sub_g_labels = ['A1','A2','A3','A4','A5','B1','B2','B3','B4','B5','C1','C2','C3','C4','C5','D1','D2','D3'\
            ,'D4','D5','E1','E2','E3','E4','E5','F1','F2','F3','F4','F5','G1','G2','G3','G4','G5']

# make sub_grade 
# give sub grade numeric value.
grade_v = [(1.0/35 * i) for i in range(1, 36)]

# dictionary to make sub_grade val to sub_grade string
# sub_grade_dict = dict(zip(sub_g_labels, grade_v))
sub_grade_dict = dict(zip(sub_g_labels, range(1, 36)))

print(sub_grade_dict)
print(df.axes)

{'A1': 1, 'A2': 2, 'A3': 3, 'A4': 4, 'A5': 5, 'B1': 6, 'B2': 7, 'B3': 8, 'B4': 9, 'B5': 10, 'C1': 11, 'C2': 12, 'C3': 13, 'C4': 14, 'C5': 15, 'D1': 16, 'D2': 17, 'D3': 18, 'D4': 19, 'D5': 20, 'E1': 21, 'E2': 22, 'E3': 23, 'E4': 24, 'E5': 25, 'F1': 26, 'F2': 27, 'F3': 28, 'F4': 29, 'F5': 30, 'G1': 31, 'G2': 32, 'G3': 33, 'G4': 34, 'G5': 35}
[RangeIndex(start=0, stop=200000, step=1), Index(['index', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')]

In [13]:
# need to build my feature vecotr
# X_train = f['sub_grade','loan_amnt']
# need y predictions combine(charged off/default(True(1)) or fully paid(False(0)))
# y_train =[]
# 11th spot in the pandas df if read in all columns
sub_grade = 11
loan_amnt = 4
loan_status = 18

def feature(datum):
    # create our simplistic featur vector
    #print(datum)
    s_grade = datum[sub_grade]
    # print(datum[sub_grade])
    return [sub_grade_dict[datum[sub_grade]], datum[loan_amnt]]


default = 0
paid = 0
def prediction_of_y(datum):
    if ((datum[loan_status] == 'Charged Off') or (datum[loan_status] == 'Default') or (datum[loan_status] == 'Late (31-120 days)' ) or (datum[loan_status] == 'Late (16-30 days)') or (datum[loan_status] =='Does not meet the credit policy. Status:Charged Off')):
        global default 
        default += 1
        return True
    else:
        global paid 
        paid += 1
        return False

# X_train = [feature(d) for d in data_train]
X_train = []
for row in data_train.itertuples():
    X_train.append(feature(row))
    
# y_train = [prediction_of_y(d) for d in data_train]
y_train = []
paid = 0
for row in data_train.itertuples():
    y_train.append(prediction_of_y(row))

In [14]:
l_status_dict = defaultdict(int)
for row in df_default.itertuples():
    # print(row[3])
    if row[loan_status] not in l_status_dict:
        l_status_dict[row[loan_status]] += 1
        
print(l_status_dict.keys())
print(default)
print(paid)

dict_keys(['Charged Off', 'Default', 'Late (31-120 days)', 'Late (16-30 days)', 'Does not meet the credit policy. Status:Charged Off'])
25000
25000

In [ ]:
# a = list(zip(X_train[:50],y_train[:50]))
# print(a)
# pipline to scale the feature vectors and run the svm
rbf_svm_clf = Pipeline((
        ('scaler', StandardScaler()),
        ("rbf_svc", SVC(kernel='rbf', C=1))
    ))

# scaler.transform(X_train)

In [ ]:
# clf = svm.SVC(C=1, kernel='rbf')
# clf.fit(scaler.transform(X_train), y_train)
rbf_svm_clf.fit(X_train, y_train)
train_predictions = rbf_svm_clf.predict(X_train)
# test_predictions = clf.predict(X_test)
print(train_predictions)

In [ ]:
print(sum(train_predictions))

In [ ]:
numFalseNeeded = 1 - sum(y_train)/len(y_train)
print(sum(y_train))
print(numFalseNeeded)

In [ ]:
# what % acc did we get?

results = list(zip(train_predictions,y_train))
correct = 0
f = True
for i in range(len(results)):
    if f:
        print(results[i][0])
        print(results[i][1])
        f = False
    if results[i][0] == results[i][1]:
        correct +=1

print(correct)
print(correct/float(len(results)))